@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
}
header{
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 7vh;
  background-color: #3EBDC0;
  justify-content: space-between;
  align-items: center;
  box-shadow:  0 0 8px 0 rgba(0, 0, 0, 0.2);
  h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 500;
    img{
      margin: 0 10px;
    }
  }
  img, svg{
    width: 2rem;
    height: 2rem;
  }
  nav{
    justify-content: space-between;
    padding: 0 10px;
    ul{
        font-weight: 200;
        z-index: 1;
        display: flex;
        position: relative;
        align-items: center;
        li{
            margin: 0 15px;
            display: inline-block;
            a{
              color: white;
                text-decoration: none;
            }
          }
          .list:hover a{
            transition: color 300ms ease-out;
            color: #7073BE;
          }
        .indicator{
          z-index: -1;
          position: absolute;
          width: 80px;
          height: 30px;
          background-color: #7073BE;
          border-radius: 20px;
          transition: 500ms;
        }
    }
}

}

footer{
  background-color: #4448A3;
  width: 100%;
  left: 0;
  bottom: 0;
  color: white;
  .co-op{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 3rem;
      margin: 1rem 1rem;
    }
  }
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: small;
    padding: 20px;
    margin-bottom: 20px;
    h4{
      font-size: x-large;
      margin-bottom: 1rem;
    }
    div{
      margin: 0 4rem;
      p{
        margin-bottom: 0.7rem;
        a{
          color: #fff;
        }
      }
    }
  }
  span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-small;
    font-weight: 200;
  }
}
.grid-col-span-2{
  grid-column: span 2;
}

.body-text{
  color: #808080;
  font-weight: 300;
}

.home-page{
  .card-section{
    display: grid;
    grid-template-columns:  1fr 1fr;
    margin-inline: auto;
    gap: 2rem;
    padding: 2rem;
    margin-top: 10vh;
    .card{
      width: 100%;
      border-radius: 20px;
      position: relative;
      img{
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        width: 100%;
      }
      
      .text-container{
        position: absolute;
        background-color: #5E61B7;
        color: #fff;
        border-radius: 20px 20px 0 0;
        min-width: 100%;
        padding: 10px 0;
        h2{
          margin-left: 15px;
          font-weight: 400;
        }
        p{
          margin-left: 15px;
          font-weight: 200;
        }
      }
      button{
        cursor: pointer;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50px);
        border-radius: 40px;
        border: 3px solid #fff;
        background-color: #5E61B7;
        color: #fff;
        width: 100px;
        height: 37px;
      }
      button:hover {
        color: #5E61B7;
        background-color: #fff;
        border-color: #5E61B7;
        transition: all 300ms ease-out;
      }
    
    }
  }
  
  .shop-card{
    .text-container{
      background-color: #3EBDC0;
    }
    button{
      background-color: #3EBDC0;
    }
    button:hover{
      color: #3EBDC0;
      border-color: #3EBDC0;
  
    }
  }
  .registry-card{
    .text-container{
      background-color: #DCC748;
    }
    button{
      background-color: #DCC748;
    }
    button:hover{
      color: #DCC748;
      border-color: #DCC748;
  
    }
  }
  
  .about-section{
    .text-header-container{
      margin-left: 2rem;
      display: flex;
      align-items: center;
      h2{
        margin-right: 1rem;
        font-size: 80px;
      }
      h3{
        color: #808080;
        font-weight: 500;
        font-size: medium;
        span{
          font-weight: 400;
        }
      }     
    }
    .text-container{
      display: flex;
      img{
        width: 30rem;
        border-radius: 30px;
        margin: 0 20px;
      }
      div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span{
          color: #3EBDC0;
          font-weight: 500;
        }
        button{
          border: none;
          background-color: #AAAAAA;
          color: #fff;
          width: 10rem;
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }
  }
  
  .donate-section{
    background: #4448A3;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    padding-bottom: 5rem;
    border-radius: 20px;
    h2{
      font-size: xxx-large;
    }
    p{
      font-size: x-small;
      font-weight: 200;
    }
    .donate-stat{
      display: flex;
      width: 100%;
      .total-donate{
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        background-color: #3EBDC0;
        width: 50%;
        padding: 1rem 0;
        border-radius: 0 0 0 20px;
        p{
          font-size: large;
          font-weight: 400;
          margin: 0 1rem ;
        }
      }
      .total-help{
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        background-color: #DCC748;
        width: 50%;
        padding: 1rem 0;
        border-radius: 0 0 20px 0;
        p{
          font-size: large;
          font-weight: 400;
          margin: 0 1rem ;
        }
      }
      
    }
  }
  
  .new-activity{
    background-color: #E8E8E8;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 1rem 0;
    h3{
      color: #4448A3;
    }
    .img-frame{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      margin: 2rem;
      margin-bottom: 5rem;
      .frame{
        background-color: #C4C4C4;
        width: 100%;
        height: 300px;
        border-radius: 20px;
      }
    }
    button{
      border: none;
      width: 10rem;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #AAAAAA;
      color: #fff;
      padding: 5px;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}

.about-page{
  margin-top: 10vh;
  padding: 2rem;
  h1{
    display: flex;
    position: relative;
    margin: 0 0 2rem 0;
    h1{
      font-size: 80px;
      font-weight: 600;
    }
    h2{
      font-weight: 500;
      font-size: xxx-large;
      position: absolute;
      bottom: 10%;
      left: 15rem;
      margin: 0 0 2rem 0;
    }
  }
  .body-text{
    margin-bottom: 2rem;
  }
  .board-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    .board-frame{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5rem;
      margin: 2rem 0 8rem 0;
      .board-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: auto;
        height: auto;
        padding: 1.5rem;
        border-radius: 20px;
        .profile{
          color: #DCC748;
          height: auto;
          padding: 2rem;
        }
      }
    }
  }
}

.service-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 50%;
  padding: 2rem;
  h2{
    margin-bottom: 2rem;
  }
}

.shop-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;

  padding: 5rem;
  .dropdown{
    position: relative;
    display: inline-block;
    background-color: #EEEEEE;
    width: 20rem;
    padding: 0.2rem 0 0.2rem 1rem;
    border-radius: 100vmax;
    margin-top: 2rem;
  }
  .dropdown-content{
    display: none;
    // position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .shopping-card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    width: 100%;
    margin-inline: auto;
    margin: 3rem 0;
    .shopping-card{
      background-color: #EEEEEE;
      width: 100%;
      height: auto;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      padding: 1rem;
      position: relative;
      border-radius: 30px;
      .img{
        width: 100%;
        height: 300px;
        background-color: #C4C4C4;
        border-radius: 20px;
      }
      h3{
        font-size: medium;
        margin-top: 1rem;
      }
      p{
        font-size: small;
        margin-bottom: 3rem;
      }
      h4{
        font-size: large;
      }
      .shopping-icon{
        background-color: #3EBDC0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        padding: 0.8rem;
        border-radius: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-25%, -25%);
      }
    }
  }
}

.news-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  .dropdown{
    position: relative;
    display: inline-block;
    background-color: #EEEEEE;
    width: 20rem;
    padding: 0.2rem 0 0.2rem 1rem;
    border-radius: 100vmax;
    margin-top: 2rem;
  }
  .dropdown-content{
    display: none;
    // position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .news-card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    width: 100%;
    margin: 3rem 0;
    .news-card{
      background-color: #EEEEEE;
      width: 100%;
      height: auto;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      padding: 1rem;
      position: relative;
      border-radius: 30px;
      .img{
        width: 100%;
        height: 300px;
        background-color: #C4C4C4;
        border-radius: 20px;
      }
      h3{
        font-size: medium;
        margin-top: 1rem;
      }
      p{
        font-size: small;
        margin-bottom: 4rem;
      }

    }
  }
}

.donate-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  .card-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    width: 100%;
    margin-top: 2rem;
    .card{
      width: 100%;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      background-color: #EEEEEE;
      padding: 2rem;
      border-radius: 20px;
      position: relative;
    }
    .header{
      position: absolute;
      top: 0;
      left: 0;
      background-color: #5E61B7;
      width: 100%;
      border-radius: 20px 20px 0 0;
      color: #fff;
      padding: 0.5rem 0;
      h3{
        margin-left: 2rem;
        font-size: large;
        font-weight: 400;
      }
    }
    .card-form{
      form{
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        .input{
          display: flex;
          justify-content: space-between;
          margin-top: 1rem;
          font-weight: 400;
          input{
            border: none;
            border-radius: 100vmax;
            width: 300px;
          }
        }
        .submit-btn{
          border: none;
          cursor: pointer;
          background-color: #919299;
          border-radius: 100vmax;
          color: #fff;
          width: 5rem;
          font-size: medium;
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translate(-50%, -50%);
        }
      }
    }
    .card-information{
      .header{
        background-color: #3EBDC0;
      }
      .body{
        margin-top: 3rem;
        p{
          margin-bottom: 20px;
        }
        .img{
          display: flex;
          justify-content: space-between;
          img{
            width: 47.5%;
            border-radius: 10px;
          }
        }
      }
    }

    h3{
      font-size: xx-large;
      margin-bottom: 1rem;
    }
    .card-help{
      display: flex;
      justify-content: space-between;
      ul{
        list-style-type: none;
        font-size: large;
        li{
          margin: 3rem 0
        }
        li::before{
          content: '1';
          display: inline-block;
          background-color: #3EBDC0;
          width: 2rem;
          height: 2rem;
          padding: 0.2rem;
          border-radius: 50%;
          margin-right: 2rem;
          text-align: center;
          color: #fff;
        }
        li:nth-child(2)::before{
          content: '2';
          background-color: #DCC748;
        }
        li:nth-child(3)::before{
          content: '3';
          background-color: #5E61B7;
        }
      }
      .img{
        position: relative;
        width: 50%;
        height: auto; 
        background-color: #C4C4C4;
        border-radius: 1rem;
        h4{
          position: absolute;
          top: 1rem;
          left: 50%;
          transform: translateX(-50%);
          color: #fff;
          font-size: large;
          font-weight: 400;
        }
      }
    }
  }
}